# Organize Data
get data looking the way we need in order to get the "experiments" going

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model, preprocessing
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

Read in our file and verify that the datafram matches the file inputted

In [2]:
names = ['Rank','Name', 'Platform', 'Year', 'Genre','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
df = pd.read_csv('vgsales2.csv', header=None,delim_whitespace=False,names=names,na_values='?')
df.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26

In [3]:
df.shape

(16598, 11)

Drop all our rows with any missing information

In [4]:
df = df.dropna()

In [5]:
df.shape

(16291, 11)

In [6]:
df.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

Drop all rows after 2015 because the data was pulled in late October of 2016 and goes up to 2020

In [7]:
df = df[df.Year < 2016]
df.shape

(15945, 11)

In [8]:
df.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26

Display the number of entries per publisher in order to get the top 10. We want to use the top to because this is a lot of data.

In [9]:
df.Publisher.value_counts()

Electronic Arts                           1319
Activision                                 952
Ubisoft                                    904
Namco Bandai Games                         888
Konami Digital Entertainment               815
THQ                                        712
Nintendo                                   686
Sony Computer Entertainment                677
Sega                                       622
Take-Two Interactive                       400
Capcom                                     358
Atari                                      346
Tecmo Koei                                 321
Disney Interactive Studios                 214
Square Enix                                211
Warner Bros. Interactive Entertainment     203
Midway Games                               196
Eidos Interactive                          196
505 Games                                  185
Microsoft Game Studios                     185
Acclaim Entertainment                      184
D3Publisher                                180
Vivendi Games                              161
Codemasters                                144
Idea Factory                               120
Deep Silver                                110
Zoo Digital Publishing                     104
Unknown                                     96
Nippon Ichi Software                        92
Majesco Entertainment                       90
                                          ...
Ascaron Entertainment                        1
Pacific Century Cyber Works                  1
Karin Entertainment                          1
EON Digital Entertainment                    1
On Demand                                    1
mixi, Inc                                    1
Lighthouse Interactive                       1
Grand Prix Games                             1
Plenty                                       1
American Softworks                           1
Bohemia Interactive                          1
The Learning Company                         1
Abylight                                     1
2D Boy                                       1
Fuji                                         1
Phantagram                                   1
Pack In Soft                                 1
Phoenix Games                                1
Playmore                                     1
fonfun                                       1
NDA Productions                              1
SPS                                          1
Aria                                         1
BushiRoad                                    1
Revolution (Japan)                           1
Gaga                                         1
Quelle                                       1
Playmates                                    1
Phantom EFX                                  1
Warashi                                      1
Name: Publisher, Length: 564, dtype: int64

In order to drop the rows that aren't from the top 10 publishers create seperate dataframs and then concatonate the 10 individual frames.

In [10]:
dfP1 = df[df.Publisher == 'Electronic Arts']
dfP2 = df[df.Publisher == 'Activision']
dfP3 = df[df.Publisher == 'Ubisoft']
dfP4 = df[df.Publisher == 'Namco Bandai Games']
dfP5 = df[df.Publisher == 'Konami Digital Entertainment']
dfP6 = df[df.Publisher == 'THQ']
dfP7 = df[df.Publisher == 'Nintendo']
dfP8 = df[df.Publisher == 'Sony Computer Entertainment']
dfP9 = df[df.Publisher == 'Sega']
dfP10 = df[df.Publisher == 'Take-Two Interactive']
df = pd.concat([dfP1,dfP2,dfP3,dfP4,dfP5,dfP6,dfP7,dfP8,dfP9,dfP10])
df = df.sort_values('Rank',ascending=True)
df.head(15)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00

In [11]:
df.shape

(7975, 11)

# Seperate data by platform
## Platforms: PS (PS,PS2,PS3), XB (XB & XB360), PC

In [12]:
dfXB = df[df.Platform == 'XB']

In [13]:
dfXB.shape

(388, 11)

In [14]:
dfXB.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
464,465,Tom Clancy's Splinter Cell,XB,2002.0,Action,Ubisoft,1.85,1.04,0.00,0.13,3.02
507,508,The Elder Scrolls III: Morrowind,XB,2002.0,Role-Playing,Ubisoft,2.09,0.63,0.03,0.11,2.86
617,618,Rockstar Games Double Pack: Grand Theft Auto I...,XB,2003.0,Action,Take-Two Interactive,1.84,0.56,0.00,0.09,2.49
696,698,Need for Speed Underground 2,XB,2004.0,Racing,Electronic Arts,1.38,0.80,0.00,0.10,2.28
742,744,Star Wars: Knights of the Old Republic,XB,2003.0,Role-Playing,Activision,1.68,0.44,0.00,0.08,2.19
873,875,Grand Theft Auto: San Andreas,XB,2005.0,Action,Take-Two Interactive,1.26,0.61,0.00,0.09,1.95

In [15]:
dfX360 = df[df.Platform == 'X360']
dfX360.shape

(661, 11)

In [16]:
dfX360.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
23,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
31,32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
35,36,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
36,37,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.63,0.08,1.29,13.51
51,52,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02

In [17]:
dfPC = df[df.Platform == 'PC']
dfPC.shape

(393, 11)

In [18]:
dfPC.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.0,0.71,8.11
137,138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.0,0.00,6.28
181,182,Diablo III,PC,2012.0,Role-Playing,Activision,2.43,2.15,0.0,0.62,5.20
217,218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.56,1.68,0.0,0.59,4.83
267,268,Warcraft II: Tides of Darkness,PC,1995.0,Strategy,Activision,1.70,2.27,0.0,0.23,4.21
288,289,World of Warcraft: The Burning Crusade,PC,2007.0,Role-Playing,Activision,2.57,1.52,0.0,0.00,4.09

In [19]:
dfPS = df[df.Platform == 'PS']
dfPS.shape

(523, 11)

In [20]:
dfPS.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
52,53,Gran Turismo,PS,1997.0,Racing,Sony Computer Entertainment,4.02,3.87,2.54,0.52,10.95
66,67,Final Fantasy VII,PS,1997.0,Role-Playing,Sony Computer Entertainment,3.01,2.47,3.28,0.96,9.72
69,70,Gran Turismo 2,PS,1999.0,Racing,Sony Computer Entertainment,3.88,3.42,1.69,0.50,9.49
95,96,Crash Bandicoot 2: Cortex Strikes Back,PS,1997.0,Platform,Sony Computer Entertainment,3.78,2.17,1.31,0.31,7.58
105,106,Tekken 3,PS,1998.0,Fighting,Sony Computer Entertainment,3.27,2.22,1.40,0.29,7.16
106,107,Crash Bandicoot 3: Warped,PS,1998.0,Platform,Sony Computer Entertainment,3.68,1.75,1.42,0.28,7.13

In [21]:
dfPS2 = df[df.Platform == 'PS2']
dfPS2.shape

(1083, 11)

In [22]:
dfPS2.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
86,87,Final Fantasy X,PS2,2001.0,Role-Playing,Sony Computer Entertainment,2.91,2.07,2.73,0.33,8.05

In [23]:
dfPS3 = df[df.Platform == 'PS3']
dfPS3.shape

(768, 11)

In [24]:
dfPS3.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
37,38,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.54,5.82,0.49,1.62,13.46
40,41,Call of Duty: Black Ops,PS3,2010.0,Shooter,Activision,5.98,4.44,0.48,1.83,12.73
54,55,Gran Turismo 5,PS3,2010.0,Racing,Sony Computer Entertainment,2.96,4.88,0.81,2.12,10.77
55,56,Call of Duty: Modern Warfare 2,PS3,2009.0,Shooter,Activision,4.99,3.69,0.38,1.63,10.69

### Group needed platforms and re-order

In [25]:
df2 = pd.concat([dfXB,dfX360,dfPC,dfPS,dfPS2,dfPS3])
df2.shape

(3816, 11)

In [26]:
df2 = df2.sort_values('Rank',ascending=True)
df2.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
23,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76

Preform label encoding in order to do calculations

In [27]:
from sklearn import linear_model, preprocessing
le = preprocessing.LabelEncoder()
df3 = df2.apply(le.fit_transform)
df3.head(6)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16,0,745,3,21,0,7,275,225,83,124,410
17,1,748,2,12,0,7,280,40,41,126,409
23,2,745,4,21,0,7,281,219,6,105,408
24,3,749,2,10,0,7,277,220,47,114,407
28,4,734,2,9,6,5,273,218,102,99,406
29,5,286,4,19,8,0,279,211,13,104,405

In [28]:
platform = np.array(df3['Platform'])
genre = np.array(df3['Genre'])
publisher = np.array(df3['Publisher'])
US = np.array(df3['NA_Sales'])
EU = np.array(df3['EU_Sales'])
JP = np.array(df3['JP_Sales'])
Global = np.array(df3['Global_Sales'])
X = np.vstack((platform, genre,publisher))
X = X.T

# Linear Regression with US Sales

In [29]:
nsamp, natt = X.shape

### Simple Linear Regression per feature

In [30]:
y = US
ym = np.mean(y)
syy = np.mean((y-ym)**2)
Rsq = np.zeros(natt)
beta0 = np.zeros(natt)
beta1 = np.zeros(natt)
for k in range(natt):
    xm = np.mean(X[:,k])
    sxy = np.mean((X[:,k]-xm)*(y-ym))
    sxx = np.mean((X[:,k]-xm)**2)
    beta1[k] = sxy/sxx
    beta0[k] = ym - beta1[k]*xm
    Rsq[k] = (sxy)**2/sxx/syy
    
    print("{0:2d}  Rsq={1:f}".format(k,Rsq[k]))

 0  Rsq=0.009122
 1  Rsq=0.000147
 2  Rsq=0.002413

### Multiple Variable Linear Model

In [31]:
ns_train = nsamp // 2
ns_test = nsamp - ns_train
X_tr = X[:ns_train,:]
y_tr = y[:ns_train]
regr = linear_model.LinearRegression()
regr.fit(X_tr,y_tr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
y_tr_pred = regr.predict(X_tr)
RSS_tr = np.mean((y_tr_pred-y_tr)**2)/(np.std(y_tr)**2)
Rsq_tr = 1-RSS_tr
print("RSS per sample = {0:f}".format(RSS_tr))
print("R^2 =            {0:f}".format(Rsq_tr))

RSS per sample = 0.993763
R^2 =            0.006237

In [33]:
X_test = X[ns_train:,:]
y_test = y[ns_train:]
y_test_pred = regr.predict(X_test)
RSS_test = np.mean((y_test_pred-y_test)**2)/(np.std(y_test)**2)
Rsq_test = 1-RSS_test
print("RSS per sample = {0:f}".format(RSS_test))
print("R^2 =            {0:f}".format(Rsq_test))

RSS per sample = 73.648555
R^2 =            -72.648555

## Logistic Regression Classifier

In [40]:
ntr = 1500
Xtr = X[:ntr, :]
ytr = y[:ntr]

In [41]:
logreg = linear_model.LogisticRegression(verbose=10, multi_class='multinomial', 
                                         solver='newton-cg', max_iter=1000)
logreg.fit(Xtr,ytr)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.9s finished

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=None, solver='newton-cg',
          tol=0.0001, verbose=10, warm_start=False)

In [42]:
Xts = X[ntr:,:]
yts = y[ntr:]
yhat = logreg.predict(Xts)
acc = np.mean(yhat == yts)
print('Accuaracy = {0:f}'.format(acc))

Accuaracy = 0.178756

all multiclass solvers have the same acc when using logistic regression so will stick with newton-cg solver

## SVM

In [43]:
from sklearn import svm
svc = svm.SVC(probability=False,  kernel="rbf", C=2.8, gamma=.0073,verbose=10)

In [44]:
svc.fit(Xtr,ytr)

[LibSVM]

SVC(C=2.8, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.0073, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=10)

In [45]:
yhat_ts = svc.predict(Xts)
acc = np.mean(yhat_ts == yts)
print('Accuaracy = {0:f}'.format(acc))

Accuaracy = 0.218048

## Neural Network

In [46]:
import keras
from keras import optimizers
from keras.models import Model, Sequential
from keras.layers import Dense, Activation

Using TensorFlow backend.

In [47]:
import keras.backend as K
K.clear_session()

In [48]:
nin = 3 #number of inputs
nh = 4 #number of hidden layers
nout = 3 #number of outputs
model = Sequential()
model.add(Dense(nh, input_shape=(nin,), activation='sigmoid', name='hidden'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
hidden (Dense)               (None, 4)                 16
_________________________________________________________________
output (Dense)               (None, 1)                 5
=================================================================
Total params: 21
Trainable params: 21
Non-trainable params: 0
_________________________________________________________________

#### Adam optimizer
using the adam optimizer to train the network

In [49]:
opt = optimizers.Adam(lr=0.01, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
model.compile(optimizer=opt,loss='mean_squared_error',metrics=['accuracy'])

In [50]:
nit = 20   # number of training iterations
nepoch_per_it = 50  # number of epochs per iterations

# Loss, accuracy and epoch per iteration
loss = np.zeros(nit)
acc = np.zeros(nit)
epoch_it = np.zeros(nit)

# Main iteration loop
for it in range(nit):
    
    # Continue the fit of the model
    init_epoch = it*nepoch_per_it
    model.fit(X, y, epochs=nepoch_per_it, batch_size=100, verbose=0)
    
    # Measure the loss and accuracy on the training data
    lossi, acci = model.evaluate(X,y, verbose=0)
    epochi = (it+1)*nepoch_per_it
    epoch_it[it] = epochi
    loss[it] = lossi
    acc[it] = acci
    print("epoch=%4d loss=%12.4e acc=%7.5f" % (epochi,lossi,acci))

epoch=  50 loss=  3.7193e+03 acc=0.02804
epoch= 100 loss=  3.7193e+03 acc=0.02804
epoch= 150 loss=  3.7193e+03 acc=0.02804
epoch= 200 loss=  3.7193e+03 acc=0.02804
epoch= 250 loss=  3.7193e+03 acc=0.02804
epoch= 300 loss=  3.7193e+03 acc=0.02804
epoch= 350 loss=  3.7193e+03 acc=0.02804
epoch= 400 loss=  3.7193e+03 acc=0.02804
epoch= 450 loss=  3.7193e+03 acc=0.02804
epoch= 500 loss=  3.7193e+03 acc=0.02804
epoch= 550 loss=  3.7193e+03 acc=0.02804
epoch= 600 loss=  3.7193e+03 acc=0.02804
epoch= 650 loss=  3.7193e+03 acc=0.02804
epoch= 700 loss=  3.7193e+03 acc=0.02804
epoch= 750 loss=  3.7193e+03 acc=0.02804
epoch= 800 loss=  3.7193e+03 acc=0.02804
epoch= 850 loss=  3.7193e+03 acc=0.02804
epoch= 900 loss=  3.7193e+03 acc=0.02804
epoch= 950 loss=  3.7193e+03 acc=0.02804
epoch=1000 loss=  3.7193e+03 acc=0.02804

#### Reject or Accept the Hypothesis
original hypothesis rejected so will try a few more experiments

#### Best Method
The method with the highest acc was SVM. Still not a high enough acc for me to say this thought is viable for determining game sales

# Linear Regression with Global Sales

### Simple Linear Regression per feature

In [51]:
y = Global
ym = np.mean(y)
syy = np.mean((y-ym)**2)
Rsq = np.zeros(natt)
beta0 = np.zeros(natt)
beta1 = np.zeros(natt)
for k in range(natt):
    xm = np.mean(X[:,k])
    sxy = np.mean((X[:,k]-xm)*(y-ym))
    sxx = np.mean((X[:,k]-xm)**2)
    beta1[k] = sxy/sxx
    beta0[k] = ym - beta1[k]*xm
    Rsq[k] = (sxy)**2/sxx/syy
    
    print("{0:2d}  Rsq={1:f}".format(k,Rsq[k]))

 0  Rsq=0.000472
 1  Rsq=0.000118
 2  Rsq=0.002274

### Multiple Variable Linear Model

In [52]:
ns_train = nsamp // 2
ns_test = nsamp - ns_train
X_tr = X[:ns_train,:]
y_tr = y[:ns_train]
regr = linear_model.LinearRegression()
regr.fit(X_tr,y_tr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [53]:
y_tr_pred = regr.predict(X_tr)
RSS_tr = np.mean((y_tr_pred-y_tr)**2)/(np.std(y_tr)**2)
Rsq_tr = 1-RSS_tr
print("RSS per sample = {0:f}".format(RSS_tr))
print("R^2 =            {0:f}".format(Rsq_tr))

RSS per sample = 0.997621
R^2 =            0.002379

In [54]:
X_test = X[ns_train:,:]
y_test = y[ns_train:]
y_test_pred = regr.predict(X_test)
RSS_test = np.mean((y_test_pred-y_test)**2)/(np.std(y_test)**2)
Rsq_test = 1-RSS_test
print("RSS per sample = {0:f}".format(RSS_test))
print("R^2 =            {0:f}".format(Rsq_test))

RSS per sample = 132.429951
R^2 =            -131.429951

## Logistic Regression Classifier

In [59]:
ntr = 1500
Xtr = X[:ntr, :]
ytr = y[:ntr]

In [60]:
logreg = linear_model.LogisticRegression(verbose=10, multi_class='multinomial', 
                                         solver='newton-cg', max_iter=1000)
logreg.fit(Xtr,ytr)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   15.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   15.1s finished

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=None, solver='newton-cg',
          tol=0.0001, verbose=10, warm_start=False)

In [61]:
Xts = X[ntr:,:]
yts = y[ntr:]
yhat = logreg.predict(Xts)
acc = np.mean(yhat == yts)
print('Accuaracy = {0:f}'.format(acc))

Accuaracy = 0.000000

The zero acc is pretty interesting. Not sure why it happened

## SVM

In [62]:
svc = svm.SVC(probability=False,  kernel="rbf", C=2.8, gamma=.0073,verbose=10)
svc.fit(Xtr,ytr)

[LibSVM]

SVC(C=2.8, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.0073, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=10)

In [63]:
yhat_ts = svc.predict(Xts)
acc = np.mean(yhat_ts == yts)
print('Accuaracy = {0:f}'.format(acc))

Accuaracy = 0.000000

## Neural Network

In [64]:
K.clear_session()

In [65]:
nin = 3 #number of inputs
nh = 4 #number of hidden layers
nout = 3 #number of outputs
model = Sequential()
model.add(Dense(nh, input_shape=(nin,), activation='sigmoid', name='hidden'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
hidden (Dense)               (None, 4)                 16
_________________________________________________________________
output (Dense)               (None, 1)                 5
=================================================================
Total params: 21
Trainable params: 21
Non-trainable params: 0
_________________________________________________________________

In [66]:
#train the network
opt = optimizers.Adam(lr=0.01, beta_1=0.9, beta_2=0.999, epsilon=1e-08, decay=0.0)
model.compile(optimizer=opt,loss='mean_squared_error',metrics=['accuracy'])

In [67]:
nit = 20   # number of training iterations
nepoch_per_it = 50  # number of epochs per iterations

# Loss, accuracy and epoch per iteration
loss = np.zeros(nit)
acc = np.zeros(nit)
epoch_it = np.zeros(nit)

# Main iteration loop
for it in range(nit):
    
    # Continue the fit of the model
    init_epoch = it*nepoch_per_it
    model.fit(X, y, epochs=nepoch_per_it, batch_size=100, verbose=0)
    
    # Measure the loss and accuracy on the training data
    lossi, acci = model.evaluate(X,y, verbose=0)
    epochi = (it+1)*nepoch_per_it
    epoch_it[it] = epochi
    loss[it] = lossi
    acc[it] = acci
    print("epoch=%4d loss=%12.4e acc=%7.5f" % (epochi,lossi,acci))

epoch=  50 loss=  1.0770e+04 acc=0.03381
epoch= 100 loss=  1.0770e+04 acc=0.03381
epoch= 150 loss=  1.0770e+04 acc=0.03381
epoch= 200 loss=  1.0770e+04 acc=0.03381
epoch= 250 loss=  1.0770e+04 acc=0.03381
epoch= 300 loss=  1.0770e+04 acc=0.03381
epoch= 350 loss=  1.0770e+04 acc=0.03381
epoch= 400 loss=  1.0770e+04 acc=0.03381
epoch= 450 loss=  1.0770e+04 acc=0.03381
epoch= 500 loss=  1.0770e+04 acc=0.03381
epoch= 550 loss=  1.0770e+04 acc=0.03381
epoch= 600 loss=  1.0770e+04 acc=0.03381
epoch= 650 loss=  1.0770e+04 acc=0.03381
epoch= 700 loss=  1.0770e+04 acc=0.03381
epoch= 750 loss=  1.0770e+04 acc=0.03381
epoch= 800 loss=  1.0770e+04 acc=0.03381
epoch= 850 loss=  1.0770e+04 acc=0.03381
epoch= 900 loss=  1.0770e+04 acc=0.03381
epoch= 950 loss=  1.0770e+04 acc=0.03381
epoch=1000 loss=  1.0770e+04 acc=0.03381

#### Reject or Accept the Hypothesis
Also reject hypothesis based on global sales. This mindset only seems to work from a consumer standpoint.